body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

h3 {
	text-align: center;
	margin-top: 50px;
	color: #333;
}

.login {
	width: 300px;
	height: 400px;
	background-color: #fff;
	margin: 50px auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 4px;
}

.register {
	width: 300px;
	height: 300px;
	background-color: #fff;
	margin: 50px auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 4px;
	display: none;
}

label {
	display: block;
	margin-top: 20px;
}

input[type="text"], input[type="Password"] {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

input[type="button"] {
	width: 100%;
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
}

input[type="button"]:hover {
	background-color: #45a049;
}

span {
	float: left;
	margin-top: 20px;
}

a {
	float: right;
	margin-top: 20px;
	color: #4CAF50;
	text-decoration: none;
}